#include? "Signing.local.xcconfig"

CLOUDDRIVE_CODE_SIGN_STYLE = Automatic
CLOUDDRIVE_CODE_SIGNING_ALLOWED = YES
CLOUDDRIVE_DEVELOPMENT_TEAM =
CLOUDDRIVE_CODE_SIGN_IDENTITY = Apple Development

CODE_SIGN_STYLE = $(CLOUDDRIVE_CODE_SIGN_STYLE)
CODE_SIGNING_ALLOWED = $(CLOUDDRIVE_CODE_SIGNING_ALLOWED)
DEVELOPMENT_TEAM = $(CLOUDDRIVE_DEVELOPMENT_TEAM)
CODE_SIGN_IDENTITY = $(CLOUDDRIVE_CODE_SIGN_IDENTITY)
